html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    height:100px;
    width: 1500px;
    /* background-image: url("../mobile site/images/homeBackground.jpg") */
  }

@media only screen and (max-width:375px){
    body{
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }


