
/* Grid */
.portraitContainer{
       /* margin: 3rem 4rem; */
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    position: absolute;
    height: 1090px;
    width: 1090px;
    left: 7%;
    background-color: lavender;
    text-align: center;
    align-content: center;
    overflow: hidden;

    display: grid;
    grid-template-columns: 24rem 18rem 23rem;
    grid-template-rows: 21rem 21rem 21rem;
    grid-row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    border-style: solid;
    border-color: black;
}

}

.inside{
    margin:5px;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.box1{
    background-color:lavender; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20rem;
    width: 20rem;
    display: inline-block;
    border-color: white;
    border-width: 8px;
    border-style: solid;
}

.box2{
    background-color:lavender; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20rem;
    width: 20rem;
    display: inline-block;
    border-color: white;
    border-width: 8px;
    border-style: solid;
}

.box3{
    background-color:lavender; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20rem;
    width: 20rem;
    display: inline-block;
    border-color: white;
    border-width: 8px;
    border-style: solid;
}

.box4{
    background-color:lavender; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20rem;
    width: 20rem;
    display: inline-block;
    border-color: white;
    border-width: 8px;
    border-style: solid;
}


.overBox{
    background-color: lavender;
    height: 20rem;
    width: 20rem;
    z-index: 3;
    position: absolute;
    overflow: hidden;
    /*border-style: solid;
    border-color: white;
    border-width: 8px;*/
}

.newOver{
    background-color: lavender;
    height: 20rem;
    width: 20rem;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.newOver:hover{
    background-color: transparent;
}

/*UNDO*/
/*.overBox:hover{
    overflow: hidden;
    background-color: lavender;
    border-style: solid;
    border-color: white;
    border-width: 8px;
}

.overBox:hover > div{
    background-color: lavender;
    border-style: solid;
    border-color: white;
    overflow: hidden;
}

.overBox:hover > .circle{
    background-color:tan;
}

.overBox:hover > .eye1{
    background-color: transparent;
    border-color: black;
}

.overBox:hover > .eye2{
    background-color: transparent;
    border-color: black;
}

.overBox:hover > .smile{
    background-color: white;
    border-color:black;
    border-width: 3px;

}

.overBox:hover > .hair{
    background-color: black;
    border-color:white;
    border-width: 8px;
}

.overBox:hover > .hairTop{
    background-color: transparent;
    border-color:transparent;
    border-width: 3px;
    box-shadow: 15px 15px 0 0 black;

}

.overBox:hover > .hairFrontRight{
    background-color: transparent;
    border-color:transparent;
    border-width: 3px;
    box-shadow: 15px 15px 0 0 black; 
}

.overBox:hover > .hairFrontLeft{
    background-color: transparent;
    border-color:transparent;
    border-width: 3px;
    box-shadow: 15px 15px 0 0 black;
    
}*/

.lineBox{
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    position: relative;
    /*border-style: solid;*/
    /*border-color: white
    border-width:8px;*/
}

.solidBox{
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-color: white;
    border-width:8px;
    font-family: sans-serif;
    font-size: 20px;
}

.solidBox .text4{
    z-index: 9;
    position: absolute;
    right: 123px;
    top: 20px;
}
.solidBox .pic4{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 43px;
    top: 52px;
    position: absolute;
    z-index: 1;
    /*transform: rotate(79deg);*/
}
.solidBox .pic41{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 99px;
    top: 184px;
    position: absolute;
    z-index: 1;
    /*transform: rotate(17deg);*/
}
.solidBox > .pic4{
    visibility: visible;
    display: block;
}
.solidBox > .pic41{
    visibility: visible;
    display: block;
}

.solidBox .text3{
    z-index: 9;
    position: absolute;
    /* align-content: center; */
    right: 100px;
    top: 20px;
}
.solidBox .pic3{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 182px;
    top: 60px;
    position: absolute;
    z-index: 1;
}
.solidBox .pic31{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 33px;
    top: 185px;
    position: absolute;
    z-index: 1;
}
.solidBox .pic32{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 26px;
    top: 59px;
    position: absolute;
    z-index: 1;
}
.solidBox > .pic3{
    visibility: visible;
    display: block;
}
.solidBox > .pic31{
    visibility: visible;
    display: block;
}
.solidBox > .pic32{
    visibility: visible;
    display: block;
}


.solidBox .text20{
    z-index: 9;
    position: absolute;
    /* align-content: center; */
    right: 100px;
    top: 20px;
}
.solidBox .pic20{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 143px;
    top: 62px;
    position: absolute;
    z-index: 1;
}
.solidBox .pic21{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 21px;
    top: 132px;
    position: absolute;
    z-index: 1;
}
.solidBox > .pic21{
    visibility: visible;
    display: block;
}
.solidBox > .pic20{
    visibility: visible;
    display: block;
}

.solidBox .text{
    z-index: 9;
    position: absolute;
    /* align-content: center; */
    right: 115px;
    top: 20px;
}
.solidBox .pic{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 15px;
    top: 52px;
    position: absolute;
    z-index: 1;
}
.solidBox .pic1{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 175px;
    top: 52px;
    position: absolute;
    z-index: 1;
}
.solidBox .pic2{
    background-color: lavender;
    visibility: hidden;
    display: none;
    border-style: solid;
    border-color: pink;
    color: lavender;
    right: 42px;
    top: 192px;
    position: absolute;
    z-index: 1;
}

.solidBox > .pic{
    visibility: visible;
    display: block;
}
.solidBox > .pic1{
    visibility: visible;
    display: block;
}
.solidBox > .pic2{
    visibility: visible;
    display: block;
}
.solidBox:hover{
    box-shadow: 5px 10px RGB(150,156,206);
    /*transform: scaleY(1.5);*/
  transform-origin: bottom;
  /*transform: scale3d(1.5);*/
  border-width: 10px;
}


.lineContainer{
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    position: absolute;
    /*margin-top: 1rem;
    position: absolute;
    z-index: 2;*/
}

.lineBox .lineContainer .lines{
    background-color: white;
    width: 20rem;
    height: 28px;
    margin-bottom: 1rem;
    padding: 0px;
    /* z-index: 3; */
    display: inline-block;
}

.vertLineBox{
    height: 20rem;
    width: 20rem;
    display: inline-block;
    overflow: hidden;
    padding-left: 2rem;
    padding-right: .1rem;
}

.vertLineBox .vLines{
    background-color: white;
    width: 2rem;
    height: 20rem;
    margin-right: 1rem;
    display: inline-block;
}

.body{
    /*display: inline;*/
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: -1;
    background-color: lavender;
    border-color: white;
}

/*UNDO*/

.overBox .circle{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    /*background-color: rgb(156, 114, 51);*/
    background-color: rgb(168, 132, 77);
    /*background-color: tan;*/
    position: absolute;
    top: 105px;
    right: 146px;
    z-index: 3;
    border-style: solid;
    border-width: 8px;
    border-color: white;
}

.overBox .bodyCircle{
    height: 135px;
    width: 166px;
    border-radius: 90px 90px 0 0;
    background: lavender;
    top: 205px;
    right: 150px;
    position: absolute;
    border-width: 8px;
    z-index: 2;
    transform: rotate(-1deg);
    border-color: white;
    border-style: solid;
    /*overflow: hidden;   */
}

.overBox .arm{
    height: 149px;
    width: 26px;
    border-radius: 25px;
    position: absolute;
    right: 132px;
    top: 180px;
    border-width: 8px;
    transform: rotate(41deg);
    z-index: 1;
    background-color: lavender;
    border-color: white;
}

.overBox .eye1{
    width: 20px;
    height: 14px;
    background-color: transparent;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 3px solid black;
    border-bottom: 0;
    position: absolute;
    top: 143px;
    right: 212px;
    transform: rotate(10deg);
    z-index: 5;
}

.overBox .eye2{
    width: 20px;
    height: 14px;
    background-color: transparent;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 3px solid black;
    border-bottom: 0;
    position: absolute;
    top: 151px;
    right: 170px;
    transform: rotate(10deg);
    z-index: 5;
}

.overBox .smile{
    height: 16px;
    width: 40px;
    border-radius: 90px 90px 0 0;
    background: white;
    top: 183px;
    right: 190px;
    position: absolute;
    border-width: 3px;
    z-index: 5;
    transform: rotate(190deg);
    border-color: black;
    border-style: solid;
}

.overBox .hair{
    height: 195px;
    width: 141px;
    border-radius: 90px 90px 0 0;
    background: black;
    top: 90px;
    right: 138px;
    position: absolute;
    border-width: 8px;
    border-color: white;
    z-index: 0;
    border-style: solid;
    transform: rotate(17deg);
}

.overBox .hairTop{
    width: 129px;
    height: 135px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 black;
    position: absolute;
    z-index: 3;
    right: 149px;
    top: 119px;
    transform: rotate(246deg);
}

.overBox .hairFrontRight{
    width: 126px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 black;
    position: absolute;
    top: 129px;
    right: 156px;
    z-index: 3;
    transform: rotate(311deg);
}

.overBox .hairFrontLeft{
    width: 100px;
    height: 132px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 black;
    position: absolute;
    top: 119px;
    right: 159px;
    z-index: 3;
    transform: rotate(177deg);
}

.overBox .bubble{
    width: 145px;
    height: 82px;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    border-color: lavender;
    font-family: Seg'oe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-size: 15px;
    text-align: center;
    right: 11px;
    top: 28px;
}

.bubble .text{
    top: 13px;
    position: absolute;
    width: 113px;
    right: 15px;
}

.overBox .triangle{
    width: 0px;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 33px solid transparent;
    border-top: 30px solid white;
    position: absolute;
    right: 81px;
    top: 108px;
}




/*.overBox .speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}
*/
/*.overBox .speech-triangle {*/
   /* content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 28px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -14px;
    margin-bottom: -28px;*/
}

/*.overBox .speech-bubble{
    height: 10px;
    width:20px;
    background-color: white;
}
*/

